<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments :: html_header">
    <meta charset="ISO-8859-1">
    <title>Create new product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <!--        Start Menu-->
    <div th:replace="layout/fragments :: menu">Header Static</div>
    <!--        End Menu-->

    <div th:if="${product.id == null}" class="text-center"><h1>Create New Product</h1></div>
    <div th:unless="${product.id == null}" class="text-center"><h1>Edit Product</h1></div>
    <form th:action="@{/products/save}" method="post" th:object="${product}" style="max-width: 600px; margin: 0 auto;" enctype="multipart/form-data">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#information">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#pictures">Pictures 1</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <!--  INFORMATION PANE          -->
            <div class="tab-pane container active" id="information">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row text-right">
                    <label class="col-form-label col-sm-4">Product Name:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" th:field="*{name}" required/>
                    </div>
                </div>
                <div class="form-group row text-right">
                    <label class="col-form-label col-sm-4">Price:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" step="100.0" th:field="*{price}" required/>
                    </div>
                </div>
                <div class="form-group row text-right">
                    <label class="col-form-label col-sm-4">Category Name:</label>
                    <div class="col-sm-8 text-left">
                        <select th:field="*{category}" class="form-control" required>
                            <option th:each="cat : ${categories}" th:text="${cat.name}" th:value="${cat.id}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group text-center">
                    <label class="col-sm-12">Details of Product # </label>
                </div>
                <th:block th:unless="${product.id == null}" th:each="detail, detailStat: ${product.listDetails}">
                    <input type="hidden" name="detailIDs" th:value="${detail.id}"/>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Details #[[${detailStat.count}]]:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="info" th:value="${detail.name}"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="value" th:value="${detail.information}"/>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${product.id == null}">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Details #1:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="info" th:placeholder="info"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="value" th:placeholder="value"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Details #2:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="info" th:placeholder="info"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="value" th:placeholder="value"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Details #3:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="info" th:placeholder="info"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="value" th:placeholder="value"/>
                        </div>
                    </div>
                </th:block>
            </div>

            <!--  PICTURES PANE          -->
            <div class="tab-pane container fade" id="pictures">
                <div class="row form-group text-center mt-2 ">
                    <div class="col-sm-6 ">
                        <img th:if="${product.id == null}" id="thumbnail1"  width="200px" height="200px" src="" alt="Main Image">
                        <img th:unless="${product.id == null}" th:src="@{${product.mainImagePath}}" width="200px" height="200px" src="#" alt="Main Image"/>
                        <input class="form-control-file border" id="mainIMG" type="file" name="mainIMG"/>
                    </div>
                    <div class="col-sm-6">
                        <img th:if="${product.id == null}" id="thumbnail2"  width="200px" height="200px" src="" alt="Extra Image 1">
                        <img th:unless="${product.id == null}" th:src="@{${product.extraImage1Path}}" width="200px" height="200px" src="#" alt="Main Image"/>
                        <input class="form-control-file border" id="secondImg1" type="file" name="extraIMG"/>
                    </div>
                </div>
                <div class="row form-group text-center mt-2 ">
                    <div class="col-sm-6">
                        <img th:if="${product.id == null}" id="thumbnail3"  width="200px" height="200px" src="" alt="Extra Image 2">
                        <img th:unless="${product.id == null}" th:src="@{${product.extraImage2Path}}" width="200px" height="200px" src="#" alt="Main Image"/>
                        <input class="form-control-file border" id="secondImg2" type="file" name="extraIMG"/>
                    </div>
                    <div class="col-sm-6">
                        <img th:if="${product.id == null}" id="thumbnail4"  width="200px" height="200px" src="" alt="Extra Image 3">
                        <img th:unless="${product.id == null}" th:src="@{${product.extraImage3Path}}" width="200px" height="200px" src="#" alt="Main Image"/>
                        <input class="form-control-file border" id="secondImg3" type="file" name="extraIMG"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4"></label>
            <div class="col-sm-8 text-left">
                <input type="submit" class="button btn-primary pr-3 mr-2" value="Save"/>
                <input type="button" onclick="cancelCreateProduct()" class="button btn-secondary" value="Cancel"/>
            </div>
        </div>

    </form>

    <!--     Start Footer-->
    <div th:replace="layout/fragments :: html_footer">Footer Static</div>
    <!--     End Footer   -->

</div>
<script th:inline="javascript">
    $(function(){
        $("#mainIMG").change(function () {
            showThumbnail(this,$("#thumbnail1"));
        })
        $("#secondImg1").change(function () {
            showThumbnail(this,$("#thumbnail2"));
        })
        $("#secondImg2").change(function () {
            showThumbnail(this,$("#thumbnail3"));
        })
        $("#secondImg3").change(function () {
            showThumbnail(this,$("#thumbnail4"));
        })
    })

    function showThumbnail(fileInput, img) {
        var file = fileInput.files[0];
        var reader= new FileReader();
        reader.onload = function(e){
            img.attr("src", e.target.result);
        };
        reader.readAsDataURL(file);
    }

    function cancelCreateProduct() {
        var str =/*[[${#request.getContextPath() + '/products'}]]*/ "";
         window.location.href =str;
    }
</script>

</body>
</html>