<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="html_header">
        <meta charset="UTF-8">
        <title>Fragments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="" th:href="@{/webjars/font-awesome/css/all.css}" />
        <link rel="stylesheet" type="text/css" href="" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container">
            <div th:fragment="header" ></div>
            <div th:fragment="banner"></div>
            <div th:fragment="body" ></div>
            <div th:fragment="footer" ></div>
            <div th:fragment="html_menu" >
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <ul class="navbar-nav">
                        <li class="nav-item "> <a class="nav-link fas fa-home fa-2x" th:href="@{/index}"></a> </li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/categories}">Categories</a> </li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/products}">Products</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Help</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">page#</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">page#</a> </li>
                    </ul>
                </nav>
            </div>
            <div th:fragment="search" ></div>

            <div class="text-center fixed-bottom" th:fragment="html_footer">
                <span>Shop VÂN QUỲNH -Control panel- Copyright &copy; Shop</span>
            </div>
        </div>


    </body>
</html>
