<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments :: html_header">
    <meta charset="UTF-8">
    <title>Inventory Homepage</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/webjars/fontawesome/css/all.css}"/>
</head>
<body>
<div class="container text-center">
    <!--    Start menu-->
    <div th:replace="layout/fragments :: menu"></div>
    <!--    End menu-->
    <div><h1>Welcome to Inventory App</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/categories}">List Categories</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/categories/new}">Create Category</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/products}">List Products</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products/new}">Create Product</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/users}">List Users</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/users/new}">Create User</a>
    </div>

    <!--    Start footer-->
    <div th:replace="layout/fragments :: html_footer"></div>
    <!--    End footer-->
</div>

</body>
</html>